[tasks.bench]
help = "Run benchmarks"
deps = ["build"]
script = "bench.run_benchmark:main"

[tasks.build]
help = "Builds native extensions"
script = "scripts.build:main"

[tasks.check]
help = "Runs all checks"
sequence = ["lint", "test"]

[tasks.fix-python]
help = "Fixes python lint errors where possible"
cmd = "ruff check --fix --unsafe-fixes --exit-zero ."

[tasks.fix-rust]
help = "Fixes rust lint errors where possible"
cmd = "cargo clippy --fix --allow-dirty"

[tasks.format-python]
help = "Format python code"
cmd = "ruff format ."

[tasks.format-rust]
help = "Format rust code"
cmd = "cargo fmt"

[tasks.format]
help = "Formats code"
sequence = ["fix-python", "fix-rust", "format-python", "format-rust"]

[tasks.integration-test-connect]
help = "Run the connect-python conformance tests"
deps = ["build"]
sequence = [
    { script = "scripts.setup_it:setup('connect', 'connectrpc/connect-python', '0efb7b06693c9f4ce53bb45d0c5f357fb85a4947')" },
    { cmd = "uv add ../../..", cwd = "out/integration/connect" },
    # Make sure the pyvoy venv isn't used by specifying uv run.
    { cmd = "uv run pytest -k [pyvoy]", cwd = "out/integration/connect/conformance" },
]

[tasks.lint-python]
help = "Lints python code"
cmd = "ruff check ."

[tasks.lint-rust]
help = "Lints rust code"
cmd = "cargo clippy"

[tasks.lint]
help = "Lints code"
sequence = ["lint-python", "lint-rust"]

[tasks.test]
help = "Run the test suite"
deps = ["build"]
cmd = "pytest"

[tasks.wheel]
help = "Builds the wheel"
deps = ["build"]
script = "scripts.wheel:main"
